@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using App.Areas.Identity.Models.AccountViewModels
@using Microsoft.AspNetCore.Identity
@using DAFW_IS220.Models
@model App.Areas.Identity.Models.AccountViewModels.ForgotPasswordViewModel
@inject SignInManager<AppUser> SignInManager
@{
    ViewData["Title"] = "Lấy lại mật khẩu?";
    Layout = "_Layout";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Đăng nhập / Đăng ký</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.php">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">
                        Đăng nhập / Đăng ký
                    </a>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/img/LoginImg.jpg" alt="">
                    <div class="hover">
                        <h4>Chưa có tài khoản?</h4>
                        <p>Tạo tài khoản để có thêm nhiều tính năng với trang web của chúng tôi!</p>
                        <a class="primary-btn" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Tạo tài khoản</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Đăng nhập vào trang web</h3>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mt-4 col-md-12 form-group">
                            <button type="submit" class="btn primary-btn">Gửi</button>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}