@model App.Areas.Identity.Models.AccountViewModels.SendCodeViewModel
@{
    ViewData["Title"] = "Gửi mã xác thực";
    Layout = "_Layout";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Liên vệ với chúng tôi</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Thông tin</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<h1>@ViewData["Title"].</h1>

<form asp-route="/account/sendcode" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal" role="form">
    <input asp-for="RememberMe" type="hidden" />
    <div class="row">
        <div class="col-md-8">
            Mã xác thực gửi tới:
            <select asp-for="SelectedProvider" asp-items="@Model.Providers"></select>
            <button type="submit" class="btn btn-success btn-sm">Gửi</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}