@{
    ViewData["Title"] = "Có lỗi";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Giới thiệu</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Thông tin</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Lỗi không hoàn thành được tác vụ
    </p>
</div>
