@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Giới thiệu</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Giới thiệu</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Contact Area =================-->
<section class="contact_area section_gap_bottom">
    <div class="container">
        <h1 class="my-5">Giới thiệu</h1>
        <p>
            NamHoai Shop là địa chỉ tin cậy cho những ai đam mê công nghệ và muốn sở hữu những chiếc PC, Laptop, và Macbook chất lượng cao. Chúng tôi tự hào mang đến cho khách hàng những sản phẩm công nghệ hàng đầu từ các thương hiệu nổi tiếng thế giới. Với khẩu hiệu "Chất lượng tạo nên niềm tin", NamHoai Shop không chỉ cung cấp sản phẩm mà còn là nơi để khách hàng trải nghiệm công nghệ mới nhất.
        </p>
        <p class="mt-3">
            Chúng tôi hiểu rằng mỗi khách hàng có những nhu cầu và sở thích khác nhau, do đó, NamHoai Shop đa dạng hóa sản phẩm, từ các dòng PC chuyên nghiệp, Laptop đa năng đến những chiếc Macbook sang trọng. Để đáp ứng nhu cầu mua sắm thuận tiện hơn, chúng tôi cũng đã phát triển website thương mại điện tử, giúp quý khách hàng dễ dàng tìm kiếm và mua sắm online.
        </p>
        <img class="rounded mx-auto d-block" style="height: 500px;"
             src="~/img/pcdep.jpg"
             alt="">
        <p class="mt-3">
            NamHoai Shop cam kết cung cấp sản phẩm chính hãng 100%, với hóa đơn, chứng từ đầy đủ và minh bạch. Chúng tôi không ngừng nỗ lực cải thiện chất lượng dịch vụ, từ việc hỗ trợ đổi trả, hoàn tiền, đến dịch vụ bảo hành sản phẩm chu đáo. Đội ngũ tư vấn của chúng tôi luôn sẵn sàng hỗ trợ và tư vấn tận tình để khách hàng có thể lựa chọn sản phẩm phù hợp nhất với nhu cầu của mình.
        </p>
        <p class="mt-3">
            NamHoai Shop mong muốn sẽ là người bạn đồng hành không thể thiếu trong hành trình công nghệ của quý khách. Xin cảm ơn quý khách hàng đã tin tưởng và lựa chọn NamHoai Shop!
        </p>
    </div>
</section>
<!--================Contact Area =================-->